/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* { outline: 1px solid red; }

body {
    font-family: Roboto, snas-serif;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin: 0px;
}

button {
    border-radius: 8px;
    font-weight: bold;
    padding: 8px 20px;
    background-color: #3882F6;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    /* padding: 12px; */
}

a {
    text-decoration: none;
    padding: 12px;
    color: #E5E7EB;
    font-size: 18px;
}

/* ---------head------------------- */

.header {
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center;  */
        /* this fixes logo, but why were links never an issue?*/
    background-color: #1F2937;
}

#headtext {
    display: flex;
    max-width: 1000px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    margin:auto;        /*the magic to get this restricted AND centered...*/
    /* margin-left: 100px; */
    /* align-self: center; */
    /* justify-self: center;    */
}

.headtitle {
    font-size: 24px;
    color: #F9FAF8;
    margin: 12px;
    /* align-items: center; */
}

.right-links {
    padding: 12px;
}

#srclink {
    padding: 0px;
}

/* ---------cont1------------------ */

.content1 {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    justify-content: center;
    padding: 100px;
    flex-grow: 1;
}

.left1 {
    /* max-width: 500px; */
    margin-right: 100px;
}

#awesomesite {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

#awesomecontent {
    color: #E5E7EB;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#bigarray {
    height:auto;
    width:400px;
}

/* --------cont2------------------- */

#random {
    text-align: center;
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937
}

.content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allcards {
    padding: 0px;
}

.card {
    margin: 12px;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardbox {
    outline: 3px solid #3882F6;
    border-radius: 8px;
    width: 200px;
}

.clockimg {
    width: 200px;
}

.cardtext {
    width: 200px;
    margin-top: 8px;
    text-align: center;
}
/* ---------cont3------------------ */

.content3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block3quote {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin:100px 100px;
}

#quotetext {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

#quoteattr {
    align-self:flex-end;
    font-weight: bold;
}

/* ---------cont4------------------ */

.content4 {
    display: flex;
    justify-content: center;
}

.block4color {
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    max-width: 1800px;
    justify-content: space-between;
    margin: 100px;
    flex-grow: 1;
    border-radius: 4px;
}

#lefttext4 {
    margin: 50px 100px;
    flex-grow: 1;
}

#call2act {
    font-weight: bold;
}

#button2 {
    outline: 2px solid #F9FAF8;
    margin: 50px 100px;
    min-width: 100px;
}

/* ---------foot------------------- */

.footer {
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 24px;
}










